.list-header {
  display: flex;
  width: 100%;
  flex-direction: column;

  margin-bottom: 10px;
  gap: 10px;
}

.list-header h2 {
  font-size: 18px;
}

.btm-container {
  display: flex;
  justify-content: space-around;
  gap: 3px;
}

.btm-container button {
  padding: 10px 15px;
  border: 1.4px solid var(--color-grey-2);
  border-radius: 8px;
  cursor: pointer;
}

.btm-container button:focus {
  background-color: var(--color-primary);
  color: white;
}

.btm-container button:hover:not(:focus) {
  background-color: var(--color-grey-3);
}

@media (min-width: 600px) {
  .list-header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .btm-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .btm-container button {
    padding: 10px 15px;
    border: 1.4px solid var(--color-grey-2);
    border-radius: 8px;
  }
}
